
# Database Configuration
DATABASE_URL= "postgresql://postgres:mysecret@localhost:5432/fastapi_db"
DB_SCHEMA=public
POSTGRESDB_HOST=host.docker.internal
POSTGRES_DB_NAME=<database_name>
POSTGRESDB_USER=<username>
POSTGRESSPASS=<password>

# Application Configuration
SECRET_KEY=<your-secret-key>
ENVIRONMENT=development
DEBUG=True


# azure Configuration
CONNECTION_STR = os.environ.get('CONNECTION_STR')
CONTAINER = os.environ.get('CONTAINER_NAME')

# Application Configuration
SECRET_KEY=<your-secret-key>
ENVIRONMENT=development
DEBUG=True

