{%extends "main/base_templates/analysis_index.html"%} {% block content %}
<section id="data_training">
  <div class="data_training text-center">
    <h3 class="title">{{title}}</h3>
    <hr style="height:3px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
    <p class="p text-center"> </p>
    <p class="gi">
      {{description}}
  </p>
    <div class="row text-center">
      {% for response in  responses  %}
        <div class="col-md-4" id="gi">
            <div class="card">
                <div class="card-body">
                  {% if response.question == "" or  response.question.last_name == "" %}
                    {{response.user.username}} | {{response.upload_date|date:"F d, Y"}}
                  {% else %} 
                  {{response.user.username}} | {{response.upload_date|date:"F d, Y"}}
                  {% endif %}
                  <p><b>{{response.title}}</b></p>
                  <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                  <p><b>Q:{{response.question}}</b></p>
                    <p class="gi">
                      {{response.response}}
                    </p>
                    <hr/>
                    <p><b>Additional Comments</b></p>
                    <p class="gi">
                      {{response.comment}}
                    </p>
                    <hr/>
          <div class="row text-center">
                <div class="col-md-6" id="gi">
                  <a href="{% url 'professional_services:update_responses' response.id %}" class="btn btn-primary btn-sm"
                  >Edit
                </a>
                </div>
                 <div class="col-md-6" id="gi">
                  {% if response.review_indicator %}
                  <a href="{% url 'professional_services:feedback_review' response.id %}" class="btn btn-secondary btn-sm"
                  >Review
                </a>
                  {% else %}
                  <a href="{% url 'professional_services:feedback_review' response.id %}" class="btn btn-primary btn-sm"
                  >Review
              </a>
                  {% endif %}
                </div>
          </div>
        </div>
    </div>
    </div>
  {%endfor%}
</div>
</div>
  </section>
{% endblock content %}




