<!DOCTYPE html>
<html>
<head>
    <title>Website List</title>
</head>
<body>
    <h1>WCAG Standard Websites</h1>

    <ul>
        {% for website in websites %}
            <li>
                <strong>{{ website.company }}</strong><br>
                App: {{ website.app_name }}<br>
                Page: {{ website.page_name }}<br>
                URL: <a href="{{ website.website_url.url }}">{{ website.website_url.name }}</a><br>
                Updated: {{ website.updated_at }}<br>
                Created: {{ website.created_at }}
            </li>
            <hr>
        {% empty %}
            <li>No websites available.</li>
        {% endfor %}
    </ul>
</body>
</html>
<p><a href="{% url 'website-add' %}">Add New Website</a></p>

<ul>
    {% for website in object_list %}
        <li>
            {{ website.company }} -
            <a href="{% url 'website-detail' website.pk %}">View</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'website-add' %}">Add Website</a>
<a href="{% url 'website-edit' website.pk %}">Edit</a>
