{%extends "main/base_templates/application_base.html"%}
{% load crispy_forms_tags %}
{% load customfilters %}
{% block content %}
<section id="career">
  <div class="career text-center">
    <h2>All Applicants</h2>

    {% include 'components/table.html' with 
       table_header='Applicants'
       objects=applicants
       table_headers='Date,First,Last,Email,CellPhone,Country,Section,A,B,C,Resume,Edit,Delete'
       object_fields='date_joined,first_name,last_name,email,phone,country,profile.section,actions,actions,actions,actions,actions,actions'
       summary_enabled=True %}
  </div>
</section>
{% endblock content %}
