{% extends "main/base_templates/accounts_base.html" %}

{% block content %}
<section id="career">
  <div class="career text-center">
    <h2>TRACKER</h2>
    <table class="table table-borderless" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
        <tr>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Task</th>
          <th>Plan</th>
          <th>Employee Name</th>
          <th>Author</th>
          <th>Employee</th>
          <th>Login Date</th>
          <th>Start Time</th>
          <th>Duration</th>
          <th>Time</th>         
        </tr>
      </thead>
      <tbody>
        {% for trackers in trackers %}
        <tr>
          <td>{{ trackers.category }}</td>
          <td>{{ trackers.subcategory }}</td>
          <td>{{ trackers.task }}</td>
          <td>{{ trackers.plan }}</td>
          <td>{{ trackers.empname }}</td>
          <td>{{ trackers.author }}</td>
          <td>{{ trackers.employee }}</td>
          <td>{{ trackers.login_date }}</td>
          <td>{{ trackers.start_time }}</td>
          <td>{{ trackers.duration }}</td>
          <td>{{ trackers.time }}</td>         
          <td>
            <a class="article-title" href="#">Edit</a> 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
