<section id="career">
    <div class="career text-center">
      <h2>Data From API</h2>
      <table class="table table-borderless" style="width: 100%">
        <thead class="border-bottom font-weight-bold">
          <tr>
            <th>Channel</th>
            <th>Tax</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          <tr>
            <td>{{ item.channel }}</td>
            <td>{{ item.tax }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  