{%extends "main/base_templates/new_base.html"%} {% block content %}
<section id="career">
  <div class="data_training text-center">
    <h3 class="title">DAF ACTIVITIES</h3>
    <p class="p text-center">Click on your name to access your monthly tasks <b>{{total_count}}</b> activities this month</p>

    <div class="row">
      <div class="col-md-4">
        <p>
          <a href="{% url 'management:newcategory'%}" class="btn btn-secondary btn-sm">ADD CATEGORY</a>
          <a href="{% url 'management:newtaskgroup'%}" class="btn btn-secondary btn-sm">ADD GROUP</a>
        </p>
      </div>
      <div class="col-md-4">
        <form method="POST"  class="form-group">
          {% csrf_token %}
          <label for="user_tasks_filter">To filter by Category Tag</label>
          <p>{{ form.category }} <button class="btn btn-outline-info" type="submit">Filter</button></p>
        </form>
      </div>
      <div class="col-md-4">
        <p><a href="{% url 'management:newtask'%}" class="btn btn-secondary btn-sm">ADD TASK</a></p>
      </div>
    </div>
  </div>

  <hr>

  {% include 'components/table.html' with 
     table_header='Current Tasks'
     objects=object_list
     table_headers='Check,Employee,Task,Group,Deadline,Submission,Points,Max Points,Max Earnings,Earnings,Evidence,Update'
     object_fields='actions,employee,activity_name,groupname,deadline,submission,point,mxpoint,mxearning,get_pay,actions,actions'
     summary_enabled=True %}
</section>
{% endblock content %}
