<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="membership-plans">
    {% if plans %}
        <h1>membership plans</h1>
        <a href="{% url 'accounts:membership_plan_add' %}">create new member</a>
        <ul>
            {% for plan in plans%}
            <li>{{plan.name}}</li>
            <li>{{plan.price}}</li>
            {%endfor%}
        </ul>
    {%else%}
        <p>no membership plan added yet</p>
    {%endif%}
    </div>
    <a href="{% url 'accounts:create_member' %}">create new member</a>
    {% if members %}
        <h1>Registered Members</h1>
        <table>
            <thead>
                <td>email</td>
                <td>first name</td>
                <td>last name</td>
                <td>gender</td>
                <td>phone_number</td>
                <td>country</td>
                <td>city</td>
                <td>membership plan</td>
                <td>action</td>
            </thead>
            <tbody>
                {% for member in members%}
                <tr>
                    <td>{{member.email}}</td>
                    <td>{{member.first_name}}</td>
                    <td>{{member.last_name}}</td>
                    <td>{{member.gender}}</td>
                    <td>{{member.phone_number}}</td>
                    <td>{{member.country}}</td>
                    <td>{{member.city}}</td>
                    <td>{{member.membership_plan}}</td>
                    <td>
                        <a href="{% url 'accounts:member_update' member.id%}">edit</a>
                        <a href="{% url 'accounts:member_delete' member.id %}">delete</a>
                        <a href="{% url 'accounts:member_details' member.id %}">view</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    {% else %}
        <p>no registersed members yet</p>
    {% endif %}
</body>
</html>