  {%extends "main/base_templates/new_base.html"%}
  {% load mathfilters %}
  {% block content %}

  {% include 'main/snippets_templates/styles/styles.html' %} 
  <section id="rating">
    <div class="rating text-center">


          <div class="row text-center">
            <div class="col-md-2 amount_msg" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>WELCOME BACK</b></h5>
                    <hr/>
                    <i><h6>{{request.user.first_name}}</h6></i>
                  </div>
                </div>
                <!-- <div class="col-md-2"> -->
                  <!-- <form method="POST"  class="form-group">
                      {% csrf_token %}
                      <div class="col-12">
                          <div class="row">
                              <div class="col-md-12">
                                  <label for="department_filter">To filter by Department</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <p>{{ form.name }} <button class="btn btn-outline-info" type="submit">Search</button></p>
                              </div>
                          </div>
                      </div>
                  </form> -->

                  <form method="POST"  class="form-group">
                    {% csrf_token %}
                        <label for="id_name">Company:</label>
                          {{ form.company }}
                        <label for="id_name">Department:</label>
                          {{ form.name }}
                          <label for="id_year">Year:</label>
                        {{ form.year }}
                        <label for="id_month">Month (Optional):</label>
                        {{ form.month }}
                      <button type="submit">Filter</button>
                    </form> 
              <!-- </div> -->
              </div>
              
              <div class="col-md-8" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>CODA DETAILED BUDGET</b></h5>
                    <font size="-1"
                    <a class="btn btn-primary" href="#"  style="background-color: #5b67a2; border-color: #4CAF50;"> Ksh.{{total_amt_ksh|floatformat:2}} | USD. {{total_amt|floatformat:2}}</a>
                  </font> 

                    <hr/>
                    <i><h6>Select Years</h6></i>
                    <hr/>
                    <div class="row text-center">
                      {% for year in budget_years %}
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-body">
                                      <!-- <a class="btn btn-primary" href="{% url 'finance:coda_budget_estimation' app='all' %}" style="background-color: #4CAF50; border-color: #4CAF50;">{{ item.title }}</a> -->
                                      <a class="btn btn-primary" href="{%url 'finance:budget_projection' subtitle='detailed' %}" style="background-color: #4CAF50; border-color: #4CAF50;">{{ year.budget_year }}</a>
                                      <hr/>
                                      <!-- <i><h6>USD. {{ total_amt|floatformat:2 }}</h6></i> -->
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
                    <div class="row text-center">
                      {% for month in budget_months %}
                          <div class="col-md-4">
                              <div class="card">
                                  <div class="card-body">
                                      <!-- <a class="btn btn-primary" href="{% url 'finance:coda_budget_estimation' app='all' %}" style="background-color: #4CAF50; border-color: #4CAF50;">{{ item.title }}</a> -->
                                      <a class="btn btn-primary" href="{%url 'finance:budget_projection' subtitle='detailed' %}" style="background-color: #4CAF50; border-color: #4CAF50;">{{ month.month_name }}</a>
                                      <hr/>
                                      <!-- <i><h6>USD. {{ total_amt|floatformat:2 }}</h6></i> -->
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>

                    <hr/>
                    </b></i>
                  </div>
                </div>
              </div>
              <div class="col-md-2" id="bada">
                <div class="card">
                  <div class="card-body">
                    <h5><b>ACTIONS</b></h5>
                    <hr/>
                    <div class="col-md-12" id="gi">
                      <p><a href="{%url 'finance:budget_projection' subtitle='detailed' %}" class="btn btn-secondary btn-sm"
                          >All
                      </a></p>
                  </div>
                    <hr/>
                    <div class="col-md-12" id="gi">
                        <p><a href="{%url 'finance:budget_projection' subtitle='summary' %}" class="btn btn-secondary btn-sm"
                            >Summary Budget
                        </a></p>
                    </div>
                    <hr/>
                    <div class="col-md-12" id="gi">
                        <p><a href="#" class="btn btn-secondary btn-sm"
                            >Add Budget Item
                        </a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

    <table class="table table-border" style="width: 100%">
      <thead class="border-bottom font-weight-bold">
          <tr>
              <th>Category</th>
              <th>Sub Category</th>
              <th>Date</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Amount</th>
              <th>Total</th>
              {% if user.is_admin or user.is_superuser %}
                  <th>Edit</th>
                  <!-- <th>Delete</th> -->
              {% endif %}
          </tr>
      </thead>
      <tbody>
          {% regroup budget_items by category as category_list %}
          {% for category in category_list %}
          <tr>
            <td colspan="8" class="font-weight-bold text-left">{{ category.grouper }}</td>
          </tr>
              {% for item in category.list %}
                  <tr>
                      <td></td>
                      <td>{{ item.subcategory.name }}</td>
                      <td>{{ item.created_at }}</td>
                      <td>{{ item.item }}</td>
                      <td>{{ item.qty }}</td>
                      <td>{{ item.amount }}</td>
                      <td>{{ item.qty|mul:item.amount }}</td>
                      {% if user.is_admin or user.is_superuser %}
                          <td><a class="article-title" href="{% url 'finance:budget_projection-update' item.id %}">Edit</a></td>
                          <!-- <td><a class="article-title" href="{% url 'finance:transaction-delete' item.id %}">Delete</a></td> -->
                      {% endif %}
                  </tr>
              {% endfor %}
          {% endfor %}
      </tbody>
    </table>
    </div>
  </section>
  {% endblock content %}