{%extends "main/base_templates/analysis_index.html"%} 
{% load static %}
{% block title %}
{% if department %}{{ department.name }}{% else %}activities{% endif %}
{% endblock %}
{% block content %}
<!--------------------------Slider Section--------------------------------->
<!-------------------Our home services Section------------------------->
<!-------------------1. Our  Job Report Section------------------------->

<section id="data_training">
<div class="data_training text-center">
<h3 class="title">WELCOME TO INTERVIEW PORTAL</h3>
<div class="container-fluid">
  <div class="row jumbotron">
    <div id="j-section" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p >
        Examine key Questions on each role listed below.Get an end to end guide on how to respond to interview questions.Review your interview skills using recorded interview sessions.
        Training includes: Access to Interview Scripts, Mock Interviews,Recorded Sessions and more for<b>$1499</b>.Go for a self-paced access for <b>$229</b>.Payment Plans available.
      </p>
    </div> 
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a href="{% url 'finance:pay' %}?service=interview_coach&amount=1499" target="_blank">
        <button type="button" class="btn btn-primary btn-sm">$1499: With Coach</button>
      </a>
      <hr/>
      <a href="{% url 'finance:pay' %}?service=interview_prep&amount=229" target="_blank">
        <button type="button" class="btn btn-primary btn-sm">$229: Without Coach</button>
      </a>
    </div>
  </div>      
</div> 

</div>
</section>

<!-------------------Cards-Category Section----------------------->
<section id="project_based">
<div class="project_based text-center">
<h3 class="title">NON-TECHNICAL ROLES
  <a href="{% url 'professional_services:prepquestions' %}?position=all ">
   ALL
  </a>
</h3>
<div class="row text-center">
 {% for position in unique_roles_non_tech %}
 <div class="col-md-3" id="bada">
    <div class="card">
      <div class="card-body">
        <a href="{% url 'professional_services:prepquestions' %}?position={{ position }}">
          <h3 class="title">{{position}}</h3>
        </a>
        {% for question in non_tech_questions %}
        {% if  position ==  question.position %}
         <hr/>
        <i><h6>{{question.question}}</h6></i>
        {% endif %}
        {% endfor %}
        <hr/>
        <p class="bd">
          Access the responses,samples and videos to {{position}} Interview questions for $229
        </p>
        <a class="text-center" href="{% url 'finance:pay' %}?service=interview_prep&amount=229&position={{ position|urlencode }}">
        <button type="btn" class="btn-primary">Pay to Begin ($229)</button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %} 
</div>
</div>
</section>
<!-------------------2. Technical Section------------------------->
<section id="project_based">
<div class="project_based text-center">
<h3 class="title">TECHNICAL ROLES</h3>
<div class="row text-center">
  {% for position in unique_roles_tech %}
  <div class="col-md-3" id="bada">
     <div class="card">
       <div class="card-body">
        <a href="{% url 'professional_services:prepquestions' %}?position={{ position }}">
          <h3 class="title">{{position}}</h3>
        </a>
         {% for question in tech_questions %}
         {% if  position ==  question.position %}
          <hr/>
         <i><h6>{{question.question}}</h6></i>
         {% endif %}
         {% endfor %}
         <hr/>
         <p class="bd">
           Access the responses,samples and videos to {{position}} Interview questions for $229
         </p>
         <a class="text-center" href="{% url 'finance:pay' %}?service=interview_prep&amount=229&position={{ position|urlencode }}">
         <button type="btn" class="btn-primary">Pay to Begin ($229)</button>
         </a>
       </div>
     </div>
   </div>
   {% endfor %} 

</div>
</div>
</section>
<!-------------------Job Market Section------------------------->

{% endblock content %}