{%extends "main/base_templates/base.html"%} 
{% load static %}
{% block content %}

<style>
    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .gallery img {
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .gallery-item {
        margin-bottom: 20px;
        width: 300px;
    }
</style>

<div class="container">
    <h1 class="my-4">Gallery</h1>
    <div class="gallery">
        {% for image in images %}
            <div class="gallery-item">
                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid">
                <h5>{{ image.title }}</h5>
                <p>{{ image.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}