{%extends "main/base_templates/base.html"%} 

{% block content %}

<section class="mb-5">
    <div class="container-fluid">
        <div class="row align-items-center text-white " style="background-color: #0C926D;">
            <div class="col-md-6 p-5">
                <h1 class="fw-bolder">HEALTHCARE INFORMATION</h1>
                <p>Vetted medical guidance and resources to keep you and your family well, wherever you reside.</p>
                <button class="btn btn-danger btn-lg fw-bold">FIND MEDICAL RESOURCES</button>
            </div>
            <div class="col-md-6">
                <img src="https://i.pinimg.com/736x/5a/ee/13/5aee138cae53f246caeca232b7b87935.jpg" alt="HEALTHCARE INFORMATION" class="image-fluid" style="width:100%">
            </div>
        </div>
    </div>
</section>


<section class="my-5">
    <div class="contain-sm ">
        <div class="row justify-content-center p-lg-5 text-center">
            <h1 class="fw-bolder">Your Health and Wellness Network</h1>
            <p class="fs-5">Access to reliable health services and understanding complex insurance policies are essential. This section emphasizes supporting diaspora well-being abroad.</p>
        </div>
    </div>
</section>


<section class="my-5">
    <div class="container-sm">
        <div class="row p-md-3">
            <div class="image col">
                <img src="https://i.pinimg.com/736x/ed/54/d4/ed54d45efaef60b06a3d02cfefe14dd4.jpg" class="image-fluid" alt="" style="width: 100%; border-radius: 15px;">
            </div>
            <div class="desc col col-md-6  p-md-3 align-items-center my-3">
                <h1 class="fw-bold m-3" style="color: #1F40AF;">1. Healthcare Services</h1>
                <p>We offer guidance on accessing medical facilities, referrals to diaspora-friendly practitioners, and public health advisories.</p>
                <ul class="text-success">
                    <li class="my-2"><span class="text-secondary">Verified Medical Referrals (GPs and specialists)</span></li>
                    <li class="my-2"><span class="text-secondary"> Mental Wellness Support (remote counseling services)</span></li>
                    <li class="my-2"><span class="text-secondary">Health Seminars and Prevention Workshops</span></li>
                    <li class="my-2"><span class="text-secondary">Information on navigating local emergency systems</span></li>
                </ul>
                <button class="btn btn-success btn-lg fw-bold mt-5">Search for Doctors</button>
            </div>
        </div>
    </div>
</section>


<section class="my-5">
    <div class="container-sm">
        <div class="row p-md-3">
            <div class="desc col col-md-6  p-md-3 align-items-center my-3">
                <h1 class="fw-bold m-3" style="color: #1F40AF;">2. Health Insurance Options”</h1>
                <p>We provide unbiased information and comparison tools for international and local insurance plans tailored to the diaspora.</p>
                <ul class="text-success">
                    <li class="my-2"><span class="text-secondary"> International Health Plan comparisons</span></li>
                    <li class="my-2"><span class="text-secondary"> Repatriation and Medical Evacuation coverage</span></li>
                    <li class="my-2"><span class="text-secondary">National health schemes in host countries</span></li>
                    <li class="my-2"><span class="text-secondary">Coverage options for family members back home</span></li>
                </ul>
                <button class="btn btn-danger btn-lg fw-bold mt-5">Compare Insurance Plans</button>
            </div>
            <div class="image col">
                <img src="https://i.pinimg.com/1200x/53/d8/d6/53d8d6732e97b835f290932fc64f392c.jpg" class="image-fluid" alt="" style="width: 100%; border-radius: 15px;">
            </div>
            
        </div>
    </div>
</section>



<section>
    <div class="container-sm p-5 my-5">
        <div class="row justify-content-center py-4 p-lg-5 text-center" style="background-color: #1F40AF; border-radius: 10px;">
            <h1 class="fw-bolder text-white">SECURE YOUR LEGACY</h1>
            <p class="fs-5 text-white fw-light">Speak to an advisor about long-term wealth management, inheritance planning, and diversification tailored for the diaspora.</p>
            <div class="button">
                <button class="btn p-3 rounded-pill fs-5" style="text-transform: uppercase; background-color: #CC0100; color: white;font-weight: 400;">Schedule Advisory Session</button>
            </div>
        </div>
    </div>
</section>



{% endblock %}