      {% extends "main/base_templates/email_base.html" %}
      {% block content %} 
       
       <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 top-coloumn">
                        <p class="title-sub-head">
                            CODA-CROWN DATA ANALYSIS AND CONSULTANCY LLC
                        </p>
                        <p class="title-para">
                        <i>Leading provider of consultancy, education, and business services in the US. </i> 
                        </p>
                    </div>
                    <div class="col-md-4 top-coloumn text-white">
                        <div style="padding:2rem">
                            <center>
                                <a href="{% url 'main:layout'%}" class="btn btn-md btn-bc">Back To Home</a>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="row bottom-coloumn">
                    <div class="col-md-12 top-coloumn bottom-coloumn">
                        <p class="title-sub-pay text-center">
                            {{service_title_uppercase}} CONTRACT DETAILS:
                        </p>
                        <div class="row">
                            <div style="background-color:#f8f8f8; border:1px solid #ccc; padding:20px;">
                                <ul style="list-style:none; padding-left:0;">
                                    <form  method="POST" action="/finance/investment_submission/" class="form-group">
                                        {% csrf_token %}
                                                <input type="hidden" name="usr_data" value="first_name={{client_data.first_name}}&username={{client_data.username}}&last_name={{client_data.last_name}}&
                                                email={{client_data.email}}&phone={{client_data.phone}}&
                                                username={{client_data.username}}&password1={{client_data.password1}}&password2={{client_data.password2}}">
                                                <input type="hidden" name="investment_contract" value="investment_contract">
                                                <input type="hidden" name="total_amount" value="{{ total_amount|floatformat:2 }}">
                                                <input type="hidden" name="protected_capital" value="{{ protected_capital|floatformat:2 }}">
                                                <input type="hidden" name="amount_invested" value="{{ amount_invested|floatformat:2 }}">
                                                <input type="hidden" name="contract_duration" value="{{ contract_duration }}">
                                                <input type="hidden" name="model_type" value="{{ model_type }}">
                                                <input type="hidden" name="number_positions" value="{{ number_positions }}">
                                                <input type="hidden" name="monthly_payments" value="{{ monthly_payments }}">
                                        <fieldset class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Name: <br>
                                                Address: <br>
                                                Phone: <br>
                                                Email: 
                                            </div>
                                            <div class="col-md-6">
                                                {{client_data.first_name}} {{client_data.last_name}} <br>
                                                {%if client_data.address %}{{client_data.address}}{% else %} - {% endif %} <br>
                                                {{client_data.phone}} <br>
                                                {{client_data.email}}
                                            </div>
                                        </div>
                                            <div class="row">
                                            </div>
                                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                                        <p class="lead  text-center">
                                            <b>PAYMENT INFORMATION</b> 
                                            <a href="#">Edit</a>
                                          </p>
                                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    Investment: <span class="fees">${{ amount_invested|floatformat:2 }} </span> <br>
                                                    Revenue Share/Interest: <span class="fees">{{ interest_rate|floatformat:2 }}</span> <br>
                                                    {% if model_type == 'options'%}
                                                        Buying Power:<span class="fees">${{ protected_capital|floatformat:2 }} </span> <br>
                                                    {% endif %}
                                                    Total Amount: USD.<span class="fees">${{ total_amount|floatformat:2 }}</span> <br>
                                                </div>
                                                <div class="col-md-4">
                                                    {% if model_type == 'options'%}
                                                        Positions:<span class="fees">{{ number_positions }} </span> <br> 
                                                    {% endif %}
                                                    Duration: <span class="fees">{{ contract_duration }} month(s)</span> <br>
                                                    monthly_payments: <span class="fees">${{ monthly_payments|floatformat:2 }}</span> <br>
                                                    Tax: <span class="fees">${{ tax_amount|floatformat:2 }}</span> <br>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="radio" id="One_month" name="payment_type" value="paypal" required>
                                                    Paypal<br>
                                                    <input type="radio" id="One_month" name="payment_type" value="cash_app">
                                                    Cash App<br>
                                                    <input type="radio" id="One_month" name="payment_type" value="Venmo">
                                                    Venmo</br>
                                                    <input type="radio" id="One_month" name="payment_type" value="Venmo">
                                                    mpesa</br>
                                                </div>

                                            </div>
                                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                                        {% include 'main/snippets_templates/terms_conditions.html'%}
                                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                                        <p><strong>General Terms:</strong></p>
                                        <ul>
                                            <li>All investments are subject to the agreed terms in this contract.</li>
                                            <li>CODA reserves the right to amend investment terms with prior notice.</li>
                                        </ul>
                                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                                          <div class="row" >
                                            <div class="col-md-6">
                                                Beneficiary Name:<input type="text" name="beneficiary_name" class="signature" required><br>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                Beneficiary Relation:<input type="text" name="beneficiary_relation" class="signature" required><br>
                                                
                                            </div>
                                          </div>
                                          <br>
                                        <input type="checkbox" name="terms" required><b> I agree to the Terms of service</b>
                                        <hr style="height:1px;border:none;color:rgb(102, 102, 105);background-color:rgb(106, 106, 155);" />
                                        <div class="row" >
                                            <div class="col-md-6">
                                                client signature:<input type="text" name="client_sign" class="signature" value="{{client_data.username}}" required><br>
                                                Contract Date:     {{contract_date}}
                                            </div>
                                            <div class="col-md-6">
                                                company reprensentative:<input type="text" name="client_sign" class="signature" value="coda" required><br>
                                                Contract Date:      {{contract_date}}
                                            </div>
                                        </div>
                                        </fieldset>
                                        <div class="form-group">
                                            <button class="btn btn-outline-info" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </ul>
                                        <!-- Footer -->
                                <div class="contract-footer">
                                    <p>&copy; {{ contract_date.year }} CODA-CROWN DATA ANALYSIS AND CONSULTANCY LLC</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                </div>
                </div>
        </div>
      {% endblock content %}