{%extends "main/base_templates/base.html"%} 
{% load static %}
{% block content %} 
<section class="team-section">
  <div class="container">
    <h2>The Governing Team</h2>
    <br>

    <div class="team-cards">
      {% for member in govern %}
      <div class="card">
        <img src="{{ member.image.url }}" alt="{{ member.members.first_name}}" title="{{member.description}}">
        <h3>{{ member.members.first_name}} {{member.members.last_name }}</h3>   
        <p>{{ member.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}