<div class="py-5" style="background-color: #0A926D">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/" class="logolink" style="margin-left: 0px;margin-bottom: 30px;">
                    DC<span style="color: red;">48K</span>
                </a>
                <p style="color: white; max-width: 510px; font-size: 14px;">
                    We empower and connect the diaspora communities by providing tailored support and resources to meet their unique 
                    needs across the globe.We strive to bridge cultural, financial, and social gaps, fostering a sense of belonging, 
                    collaboration, and growth for our members, wherever they are. Through a network of services and partnerships, 
                    we aim to create a thriving, interconnected diaspora that thrives in diverse global locations
                </p>
            </div>
            <div class="col-md-6" style="margin-top: 44px;">
                <div class="row text-white footer-liinks-div">
                    <div class="col-md-3">
                        <div>
                            <a href="{% url 'accounts:account-login' %}" >Sign In</a>
                            <a href="{% url 'accounts:joins' %}">Register</a>
                            <a href="{% url 'accounts:account-logout' %}" >Log Out</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <a href="{% url 'main:about' %}" >Our Story</a>
                            <a>Why DC48K</a>
                            <a>Contacts</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <a>FAQ</a>
                            <a>Student Support</a>
                            <a>Welfare</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <a>Privacy Policy</a>
                            <a>Terms Of Use</a>
                            <a>Copyright</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>