<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Transaction Details</title>
</head>

<body>

    <h1>Transaction Details</h1>

    <p>
        <strong>ID:</strong>
        {{ transaction.id }}
    </p>

    <p>
        <strong>Receiver:</strong>
        {{ transaction.receiver }}
    </p>

    <p>
        <strong>Phone:</strong>
        {{ transaction.phone }}
    </p>

    <p>
        <strong>Type:</strong>
        {{ transaction.type }}
    </p>

    <p>
        <strong>Activity Date:</strong>
        {{ transaction.activity_date }}
    </p>

    <p>
        <strong>Quantity:</strong>
        {{ transaction.qty }}
    </p>

    <p>
        <strong>Amount:</strong>
        {{ transaction.amount }}
    </p>

    <p>
        <strong>Transaction Cost:</strong>
        {{ transaction.transaction_cost }}
    </p>

    <p>
        <strong>Payment Method:</strong>
        {{ transaction.payment_method }}
    </p>

    <p>
        <strong>Category:</strong>
        {{ transaction.category }}
    </p>

    <p>
        <strong>Total:</strong>
        {{ transaction.total_transactions_amt }}
    </p>

    <p>
        <strong>Description:</strong>
        {{ transaction.description }}
    </p>

    <hr>

    <a href="/accounts/transactions/pages/list">
        Back to List
    </a>

    |

    <a href="/accounts/transactions/pages/{{ transaction.id }}/edit">
        Edit
    </a>

</body>
</html>