{% extends "finance/finance_base.html" %}
{% block content %}
<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h4>Add New Default_Payment_Fees</h4>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success mt-3">Save</button>
        <a href="{% url 'Default_Payment_Fees_list' %}" class="btn btn-secondary mt-3">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}