{% extends "main/base_templates/base.html" %}
{% load static %}
{% block content %}

<script id="payment-urls" type="application/json">
  {
    "paypal": "{% url 'finance:paypal_checkout' %}",
    "card": "#",
    "zelle": "#"
  }
</script>
<section>
  <div class="payment-container">
    <!-- LEFT PANEL -->
    <div class="payment-left">
      <div class="package-card" data-amount="100">
        <h5>{{context.global_executive_title}}</h5>
        <div class="amount">{{context.global_executive_price}} <span>USD</span></div>
        <div class="summary-placeholder">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line short"></div>
        </div>
      </div>

      <div class="package-card" data-amount="50">
        <h5>Regional Administration</h5>
        <div class="amount">50 <span>USD</span></div>
        <div class="summary-placeholder">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line short"></div>
        </div>
      </div>

      <div class="package-card" data-amount="25">
        <h5>County Assembly</h5>
        <div class="amount">25 <span>USD</span></div>
        <div class="summary-placeholder">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line short"></div>
        </div>
      </div>
    </div>

    <!-- RIGHT PANEL -->
    <div class="payment-right">
        <h3 style="text-align: center; font-size: 20px; margin-bottom: 30px;">Select Payment Method</h3>
        <div class="payment-icons">
            <div class="icon-button" data-method="paypal" title="PayPal">
                <i class="fab fa-paypal" style="color: #003087;"></i>
                <span>PayPal</span>
            </div>
            <div class="icon-button selected" data-method="card" title="Card">
                <i class="fas fa-credit-card" style="color: #4a4a4a;"></i>
                <span>Card</span>
            </div>
            <div class="icon-button" data-method="zelle" title="Zelle">
                <i class="fas fa-university" style="color: #6f2dbd;"></i>
                <span>Zelle</span>
            </div>
        </div>
        <input type="hidden" id="selectedAmount" name="amount" value="" />
        <!-- <button class="pay-btn">Pay Now <i class="fas fa-arrow-right"></i></button> -->
        <a id="payNowBtn" href="#" class="pay-btn disabled" aria-disabled="true">
            Pay Now <i class="fas fa-arrow-right"></i>
        </a>
    </div>
  </div>
</section>
{% endblock %}