{% extends "main/base_templates/new_base.html" %}
{% load static %}
{%load crispy_forms_tags%}
{% block content %}
<link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> 
<link
rel="stylesheet"
type="text/css"
href="{% static 'main/css/service_plan.css' %}"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<section class="price_plan_area section_padding_130_80"  id="pricing">
    <div class="container">
        <div class="rows justify-content-center">
                <!-- Section Heading-->
                <div class="section-heading">
                    <h3>Plans and Pricing</h3>
                    <h4>{{title}}</h4>
                    <!-- <p>{{description|safe|truncatechars:480}}</p> -->
                    <div class="text-contents" id="readMoreContent">
                        {% if description|length > 490 %}
                          <p class="me-lg-5" id="truncatedText">
                            {{ description|safe|truncatechars:370 }}
                          </p>
                          <p class="me-lg-5" id="remainingText" style="display: none;">
                            {{ description|safe }}
                          </p>
                        <a onclick="toggleReadMore()" style="color: #007bff;cursor: pointer;text-decoration: none;position: inherit;left: 5px;" id="readMoreButton" tabindex="0">
                          Read more
                        </a>
                        {%else%}
                        <p>{{description}}</p>
                        {%endif%}
                    </div>
                </div>
           
        </div>
        {% if category_slug == 'full-course' %}
        <div class="section-heading" style="text-align: center; margin-left: 10px;">
        <h3> FULL COURSE</h3><br>
        {% for service in services_plans %}
            {% if  service.title == 'Data Analysis' or service.title == 'Interview' or service.title == 'Career Development'%}
                {% if service.title != 'Data Analysis' and service.title != 'Career Development' %}
                       {% if request.user.is_authenticated%}
                        {% if request.user.country.code != "US" and service.discounted_price > 0 %}
                        <h4 class="prices" style="list-style: none; padding: 10px;">${{ service.discounted_price|floatformat:2 }}</h4>
                        {% else %}
                        <h4 class="prices">${{ service.price|floatformat:2 }}</h4>
                        {% endif %}
                        {% else %}
                        <h4 class="prices"> ${{ service.price|floatformat:2 }}</h4>
                        {% endif %}
                    
                    {% if service.slug %}
                    <a href="{{ SITEURL }}/{{ service.slug }}/"><button type="button" class="btn btn-primary">More</button></a>
                    {% else %}
                    <form method="POST" {% if service.is_direct or service.price < 1000 %}action="{% url 'finance:pay' %}"{% else %}action="{% url 'finance:newcontract' request.user %}"{% endif %}>
                    {% csrf_token %}
                    <input type="hidden" name="service_title" value="{{ service.name }}{{ service.title }}">
                    {% if request.user.country.code != "US" and service.discounted_price > 0 %}
                    <input type="hidden" name="fees" value="{{ service.discounted_price }}">
                    {% else %}
                    <input type="hidden" name="fees" value="{{ service.price }}">
                    {% endif %}
                    <input type="hidden" name="is_direct" value="{{ service.is_direct }}">
                    <input type="hidden" name="service_category_id" value="{{ service.category.id }}">
                    <input type="hidden" name="pricing_serial" value="{{ service.serial }}">
                    <button type="submit" class="btn btn-warning" style="margin-right: 0px;">Proceed</button>
                    </form>
                    {% endif %}
                {% endif %}
            {%endif%}   
        {% endfor %}
        </div>
        <!-- <hr class="hr" style="width: 18%;margin-top: -15px; height: 4px; background-color: #E7AD4A;"> -->
            <div class="row justify-content-center">
                <div class="line"></div>
                {% for service in services_plans %}
                {% if  service.title == 'Data Analysis' or service.title == 'Interview' or service.title == 'Career Development'%}
                <!-- Single Price Plan Area-->
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="title">
                          
                          <h3>{{ service.title }}</h3>
                          
                            
                            
                            <div class="line"></div>
                        </div>
                        <div class="price" style="list-style: none; padding: 10px;">
    
                            <ul>
                                {% for line in service.description.splitlines %}                                 
                                    <li class="ticks">{{ line}}</li>                                  
                                {% endfor %}
                            </ul>                          
                        </div>                   
                    </div>
                
                </div>
                
                {%endif%}   
                {% endfor %}
            </div>
        {%endif%} 
        {% if category_slug == 'full-course' %}
        <div class="section-heading" style="text-align: center; margin-left: 10px;">
        <h3>AI & AUTOMATION</h3><br>
                  
        </div>
        <!-- <hr class="hr" style="width: 18%;margin-top: -15px; height: 4px; background-color: #E7AD4A;"> -->
            <div class="row justify-content-center">
                <div class="line"></div>
                {% for service in services_plans %}
                {% if  service.title == 'AI' or service.title == 'Machine Learning' or service.title == 'Automation Training'%}
                <!-- Single Price Plan Area-->
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="title">
                          <h3>{{ service.title }}</h3>
                            <div class="line"></div>
                        </div>
                        <div class="price" style="list-style: none; padding: 10px;">
                            <ul>
                                {% for line in service.description.splitlines %}                                 
                                    <li class="ticks">{{ line}}</li>                                  
                                {% endfor %}
                            </ul>                          
                        </div>    
                        {% if request.user.is_authenticated%}
                        {% if request.user.country.code != "US" and service.discounted_price > 0 %}
                        <h4 class="prices" style="list-style: none; padding: 10px;">${{ service.discounted_price|floatformat:2 }}</h4>
                        {% else %}
                        <h4 class="prices">${{ service.price|floatformat:2 }}</h4>
                        {% endif %}
                        {% else %}
                        <h4 class="prices"> ${{ service.price|floatformat:2 }}</h4>
                        {% endif %}
                        
                        {% if service.slug %}
                        <a href="{{ SITEURL }}/{{ service.slug }}/"><button type="button" class="btn btn-primary">More</button></a>
                        {% else %}
                        <form method="POST" {% if service.is_direct or service.price < 1000 %}action="{% url 'finance:pay' %}"{% else %}action="{% url 'finance:newcontract' request.user %}"{% endif %}>
                        {% csrf_token %}
                        <input type="hidden" name="service_title" value="{{ service.name }}{{ service.title }}">
                        {% if request.user.country.code != "US" and service.discounted_price > 0 %}
                        <input type="hidden" name="fees" value="{{ service.discounted_price }}">
                        {% else %}
                        <input type="hidden" name="fees" value="{{ service.price }}">
                        {% endif %}
                        <input type="hidden" name="is_direct" value="{{ service.is_direct }}">
                        <input type="hidden" name="service_category_id" value="{{ service.category.id }}">
                        <input type="hidden" name="pricing_serial" value="{{ service.serial }}">
                        <button type="submit" class="btn btn-warning" style="margin-right: 0px;">Proceed</button>
                        </form>
                        {% endif %}               
                    </div>
                </div>
                {%endif%}   
                {% endfor %}
            </div>
        {%endif%}
        {% if category_slug == 'full-course' %}
        <div class="section-heading" style="text-align: center;">
            <h3>ADVANCE COURSE</h3>
        </div>
        {%endif%}   
        <div class="row justify-content-center">
            <div class="line"></div>
            {% for service in services_plans %}
            {% if service.title != 'Data Analysis' and service.title != 'Interview' and service.title != 'Career Development'  and service.title != 'AI'  and service.title != 'Machine Learning'  and service.title != 'Automation Training' %}
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="single_price_plan wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="title">
                      {% if  service.title == 'Full_Course' %}
                        <span>Popular</span>
                      {%endif%}
                        <h3>{{ service.title }}</h3>
                        
                        <div class="line"></div>
                    </div>
                    <div class="price" style="list-style: none; padding: 10px;">
                        <ul>
                            {% for line in service.description.splitlines %}
                                {% if service.title == 'Marketing-Social Media' %}
                                <li style="margin-bottom: -35px; margin-top: -10px;">{{ line}}</li>
                                {%else%}
                                <li class="ticks">{{ line}}</li>
                                {%endif%}
                            {% endfor %}
                        </ul>
                    </div>
                    {% if service.pricingsubplan_set.count > 0 %}
                    {% for subplan in service.pricingsubplan_set.all %}
                    <div style="margin-top: 0px;">
                        <div style="margin-top: 10px;">  
                            {% if subplan.title ==  'Basic' %}
                            <span class="basic">{{subplan.title}}</span>
                            {%else%}
                            <span class="basic" style="background-color: green;">{{subplan.title}}</span>
                            {%endif%}  

                        </div>   
                        <ul  >
                                {% for line in subplan.description.splitlines %}
                                <li class="ticks">{{ line}}</li>
                                {% endfor %}
                                
                        </ul>
                        <h4 class="prices" style="list-style: none; padding: 10px;">${{ subplan.price|floatformat:2 }}</h4>
                        {% if subplan.slug %}
                        <a href="{{ SITEURL }}/{{ subplan.my_pricing.slug }}/"><button type="button" class="btn btn-primary">More</button></a>
                        {% else %}
                        <form method="POST" {% if subplan.my_pricing.redirect_url_path and subplan.price == 0 %}action="{{subplan.my_pricing.redirect_url_path}}" {% elif subplan.my_pricing.is_direct or subplan.price < 1000 %}action="{% url 'finance:pay' %}"{% else %}action="{% url 'finance:newcontract' request.user %}"{% endif %}>
                            {% csrf_token %}
                            <input type="hidden" name="service_title" value="{{ subplan.title }}">
                            <input type="hidden" name="fees" value="{{ subplan.price }}">
                            <input type="hidden" name="is_direct" value="{{ subplan.my_pricing.is_direct }}">
                            <input type="hidden" name="service_category_id" value="{{ subplan.my_pricing.category.id }}">
                            <input type="hidden" name="subplan_id" value="{{ subplan.id }}">
                            <input type="hidden" name="pricing_serial" value="{{ subplan.my_pricing.serial }}">
                            <button type="submit" class="btn btn-warning">Proceed</button>
                            
                        </form>
                    </div>
                        {% endif %}                
                    {% endfor %}
                  {% else %}                 
                    {% if request.user.is_authenticated%}
                      {% if request.user.country.code == "US" and service.discounted_price > 0 %}
                      <h4 class="prices" style="list-style: none; padding: 10px;">${{ service.discounted_price|floatformat:2 }}</h4>
                      {% else %}
                      <h4 class="prices">${{ service.price|floatformat:2 }}</h4>
                      {% endif %}
                    {% else %}
                    <h4 class="prices"> ${{ service.price|floatformat:2 }}</h4>     
                    {% endif %}     
                    {% if service.slug %}
                    <a href="{{ SITEURL }}/{{ service.slug }}/"><button type="button" class="btn btn-primary">More</button></a>
                    {% else %}
                    <form id="purchaseForm-{{ service.serial }}" method="POST" {% if service.is_direct or service.price < 1000 %}action="{% url 'finance:pay' %}"{% else %}action="{% url 'finance:newcontract' request.user %}"{% endif %}>
                        {% csrf_token %}
                        <input type="hidden" name="service_title" value="{{ service.name }}{{ service.title }}">
                        {% if request.user.country.code != "US" and service.discounted_price > 0 %}
                        <input type="hidden" name="fees" value="{{ service.discounted_price }}">
                        {% else %}
                        <input type="hidden" name="fees" value="{{ service.price }}">
                        {% endif %}
                        <input type="hidden" name="is_direct" value="{{ service.is_direct }}">
                        <input type="hidden" name="service_category_id" value="{{ service.category.id }}">
                        <input type="hidden" name="pricing_serial" value="{{ service.serial }}">
                    
                        {% if category_slug == 'interview' %}
                        <button type="button" class="btn btn-warning" onclick="showConfirmationDialog('{{ service.serial }}')">Proceed</button>
                        {% else %}
                        <button type="submit" class="btn btn-warning">Proceed</button>
                        {% endif %}
                    </form>
                    {% endif %}
                  {% endif %}
                
                </div>
            </div>
            {% endif %}
            <!-- Confirmation Modal -->
            <div id="confirmationModal" class="modal" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Skill Assessment</h5>
                            <button type="button" class="close" onclick="hideConfirmationDialog()">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Before purchasing the course, we would like you to complete a 2-minute assessment of your skill.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="submitForm('continue')">Continue</button>
                            <button type="button" class="btn btn-secondary" onclick="hideConfirmationDialog()">Cancel</button>
                            {% if not user.is_authenticated %}
                            <button type="button" class="btn btn-primary" onclick="showUserInfoModal()">Skip</button>
                            {% else %}
                            <form id="purchaseForm-{{ service.serial }}" method="POST" {% if service.is_direct or service.price < 1000 %}action="{% url 'finance:pay' %}"{% else %}action="{% url 'finance:newcontract' request.user %}"{% endif %}>
                                {% csrf_token %}
                                <input type="hidden" name="service_title" value="{{ service.name }}{{ service.title }}">
                                {% if request.user.country.code != "US" and service.discounted_price > 0 %}
                                <input type="hidden" name="fees" value="{{ service.discounted_price }}">
                                {% else %}
                                <input type="hidden" name="fees" value="{{ service.price }}">
                                {% endif %}
                                <input type="hidden" name="is_direct" value="{{ service.is_direct }}">
                                <input type="hidden" name="service_category_id" value="{{ service.category.id }}">
                                <input type="hidden" name="pricing_serial" value="{{ service.serial }}">
                             
                                <button type="submit" class="btn btn-warning">Skip</button>
                               
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Info Modal -->
            {% if not user.is_authenticated %}
            <div id="userInfoModal" class="modal" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Enter Your Details</h5>
                            <button type="button" class="close" onclick="hideUserInfoModal()">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="registrationForm" data-service-serial="{{ service.serial }}" method="POST" action="{% url 'accounts:register_and_login_user' %}">
                                {% csrf_token %}
                                <input type="hidden" name="service_title" value="{{ service.name }}{{ service.title }}">
                                <input type="hidden" name="fees" value="{% if request.user.country.code != 'US' and service.discounted_price > 0 %}{{ service.discounted_price }}{% else %}{{ service.price }}{% endif %}">
                                <input type="hidden" name="is_direct" value="{{ service.is_direct }}">
                                <input type="hidden" name="service_category_id" value="{{ service.category.id }}">
                                <input type="hidden" name="pricing_serial" value="{{ service.serial }}">
            
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="firstName" name="first_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="lastName" name="last_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" required>
                                </div>
                                
                                <button type="button" class="btn btn-primary" onclick="submitRegistrationForm()">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
         <!-- Payment Methods Section -->
        <div class="payment-methods">
            <h4>Supported With</h4>
            <div class="icon-container">
                <div class="icons">
                    <i class="fab fa-paypal icon"></i>
                    <i class="fas fa-credit-card icon"></i>
                    <i class="fas fa-money-bill-wave icon"></i>
                    <i class="fab fa-cc-visa icon"></i>
                    <i class="fab fa-cc-mastercard icon"></i>
                    <i class="fab fa-cc-amex icon"></i>
                    <i class="fab fa-cc-discover icon"></i>
                    <i class="fab fa-cc-apple-pay icon"></i>
                    <i class="fab fa-cc-google-pay icon"></i>
                </div>
            </div>
        </div>    
        <!-- Need More Info Section -->
        <div class="contact-section">
            <div class="left">
                <h4>Need More Info?</h4>
                <p>Get in touch and we'll send you over all the information you need, no obligations whatsoever.</p>
                <p class="tick">The full UI course syllabus</p>
                <p class="tick">Your questions answered, by phone or email</p>
                <p class="tick">Helpful career advice with no obligations</p>
                <div class="social-icons">
                    <p>Contact US On:</p>
                    <a href="https://www.linkedin.com/in/chris-maghas-06a41944/" target="_blank" class="fab fa-linkedin-in"></a>
                    <a href="https://www.facebook.com/chris.maghas/" target="_blank" class="fab fa-facebook-f"></a>
                    <a href="https://api.whatsapp.com/send?phone=14702769443" target="_blank" class="fab fa-whatsapp"></a>
                    <a href="https://www.youtube.com/@AIAutomation-wx5vo" target="_blank" class="fab fa-youtube"></a>
                    <a href="mailto:info@codanalytics.net.com" class="fas fa-envelope"></a>
                </div>
            </div>
            <div class="right">
                <form method="POST" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                    <h4>Leave a Message here!</h4>
                    <div class="contact-form">
                        <div class="col-md-12">
                            {{form.client_name.as_hidden}}
                            {{form.type|as_crispy_field}}
                            {{form.category|as_crispy_field}}
                            {{form.challenge|as_crispy_field}}
                        </div>

                        <button class="btn btn-dark" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
    <!-- Pop-up HTML -->
    {% if title == "IT-Training" %}
        <div class="popup-overlay" id="popup-overlay"></div>
        <div class="popup" id="popup">
            <span class="close-btn" id="close-popup">&times;</span>
            <h4 class="announcement-heading"><i class="fa-solid fa-megaphone"></i> Special Offers and Discounts</h4>
            
            <p class="announcement-text">Avail 30% off on Full Course.</p>
            <p class="announcement-text">This Offer is for limited time</p>
        </div>
    {% endif %}    

    <script>
        // JavaScript to handle pop-up display
        document.addEventListener('DOMContentLoaded', (event) => {
            const popup = document.getElementById('popup');
            const popupOverlay = document.getElementById('popup-overlay');
            const closePopup = document.getElementById('close-popup');

            // Show the popup
            popup.style.display = 'block';
            popupOverlay.style.display = 'block';

            // Close the popup
            closePopup.addEventListener('click', () => {
                popup.style.display = 'none';
                popupOverlay.style.display = 'none';
            });

            // Close the popup when clicking outside of it
             popupOverlay.addEventListener('click', () => {
                popup.style.display = 'none';
                popupOverlay.style.display = 'none';
             });
        });
    </script>
    <style>
        .read-more-button,
        .read-less-button {
          cursor: pointer;
          color: blue; 
          text-decoration: none;
        }
      
        .read-more-button:hover,
        .read-less-button:hover {
          text-decoration: none;
        }
      </style>
      
      <script>
      let currentlyOpenEmpSection = null;
      
      const applyReadLess = (empSection) => {
        const prevTruncatedText = empSection.querySelector('.truncated-text');
        const prevRemainingText = empSection.querySelector('.remaining-text');
        prevTruncatedText.style.display = 'inline';
        prevRemainingText.style.display = 'none';
      };
      
      document.querySelectorAll('.read-more-button, .read-less-button').forEach(button => {
        button.addEventListener('click', () => {
          const index = button.dataset.index;
          const truncatedText = document.getElementById(`truncatedText${index}`);
          const remainingText = document.getElementById(`remainingText${index}`);
          const readMoreButton = document.querySelector(`.read-more-button[data-index="${index}"]`);
          const readLessButton = document.querySelector(`.read-less-button[data-index="${index}"]`);
      
          const empSection = button.closest('.member-info');
          const contentBelow = empSection.nextElementSibling; 
          let originalHeight = parseInt(empSection.getAttribute('data-original-height'));
      
          if (!originalHeight) {
            originalHeight = empSection.scrollHeight;
            empSection.setAttribute('data-original-height', originalHeight);
          }
          if (currentlyOpenEmpSection && currentlyOpenEmpSection !== empSection) {
            currentlyOpenEmpSection.classList.remove('show-description');
            currentlyOpenEmpSection.style.height = ''; 
            currentlyOpenEmpSection.querySelector('.description').style.opacity = '0';
      
            applyReadLess(currentlyOpenEmpSection);
          }
      
          if (truncatedText.style.display === 'none') {
            truncatedText.style.display = 'inline';
            remainingText.style.display = 'none';
            readMoreButton.style.display = 'inline';
            readLessButton.style.display = 'none';
            empSection.style.height = `${originalHeight}px`;
            document.body.style.marginBottom = '0';
          } else {
            truncatedText.style.display = 'none';
            remainingText.style.display = 'inline';
            readMoreButton.style.display = 'none';
            readLessButton.style.display = 'inline';
            const newHeight = empSection.scrollHeight;
            empSection.style.height = `${newHeight}px`;
            if (window.innerWidth <= 767) {
              document.body.style.marginBottom = `${remainingText.scrollHeight}px`;
            }
          }
          currentlyOpenEmpSection = empSection;
          if (contentBelow) {
            contentBelow.scrollIntoView({ behavior: 'smooth' });
          }
        });
      });
      document.querySelectorAll('.member-link').forEach(link => {
        link.addEventListener('click', () => {
          if (currentlyOpenEmpSection) {
            applyReadLess(currentlyOpenEmpSection);
            currentlyOpenEmpSection = null;
            document.body.style.marginBottom = '0';
          }
        });
      });
      </script>
<script>
    let currentFormId = null;

    function showConfirmationDialog(serial) {
        currentFormId = `purchaseForm-${serial}`;
        document.getElementById('confirmationModal').style.display = 'block';
    }

    function hideConfirmationDialog() {
        document.getElementById('confirmationModal').style.display = 'none';
        currentFormId = null;
    }

    function submitForm(actionType) {
        if (currentFormId) {
            var form = document.getElementById(currentFormId);
            if (form) {
                var formData = new FormData(form);
                
                // Store data in session storage
                formData.forEach((value, key) => {
                    sessionStorage.setItem(key, value);
                });

                sessionStorage.setItem('category', 'interview');

                console.log("Current Form Data stored in Session Storage:", {
                    ...Object.fromEntries(formData),
                    category: sessionStorage.getItem('category')
                });
                if (actionType === 'skip') {
                    window.location.href = '/finance/pay';  // Redirect to payment URL
                } else {
                    window.location.href = '/management/newclient';  // Redirect to assessment URL
                }
            } else {
                console.error("Form not found");
            }
        } else {
            console.error("No form selected");
        }
    }
</script>

<script>
    function showUserInfoModal() {
        hideConfirmationDialog();  // Hide the first modal
        document.getElementById('userInfoModal').style.display = 'block';
    }

    function hideUserInfoModal() {
        document.getElementById('userInfoModal').style.display = 'none';
    }
    function submitRegistrationForm() {
    const registrationForm = document.getElementById("registrationForm");
    const serviceSerial = registrationForm.getAttribute("data-service-serial");

    // Get the action URL from the Proceed form
    const proceedForm = document.getElementById(`purchaseForm-${serviceSerial}`);
    const proceedFormActionUrl = proceedForm.action;

    // Prepare form data for the AJAX request
    const formData = new FormData(registrationForm);

    // Select the submit button and add a loading spinner
    const submitButton = registrationForm.querySelector("button[type='button']");
    submitButton.classList.add("loading");
    submitButton.innerHTML = 'Submitting... <span class="loading-spinner"></span>';

    // AJAX submission to register and log in the user
    fetch(registrationForm.action, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'  // Ensure CSRF token is included
        },
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            // Hide the modal after successful registration
            hideUserInfoModal();

            // Redirect to the action URL of the Proceed form
            window.location.href = proceedFormActionUrl;
        } else {
            alert("Registration failed. Please try again.");
            // Remove the loading state if there's an error
            submitButton.classList.remove("loading");
            submitButton.innerHTML = 'Submit';  // Restore button text
        }
    })
    .catch(error => {
        console.error("Error:", error);
        submitButton.classList.remove("loading");
        submitButton.innerHTML = 'Submit';  // Restore button text
    });
}


</script>
<!-- Add some basic styling for the modal -->
<style>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1050; 
    }
    .modal-dialog {
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 10vh; /* Pushes the modal down to avoid the navbar */
        max-width: 500px; 
    }
    .modal-content {
        padding: 20px;
    }
    .close {
        cursor: pointer;
        font-size: 1.2em;
        border: none;
        background: none;
    }
    .loading-spinner {
        border: 4px solid #f3f3f3; /* Light grey */
        border-top: 4px solid #007bff; /* Blue */
        border-radius: 50%;
        width: 18px;
        height: 18px;
        animation: spin 1s linear infinite;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .loading {
        pointer-events: none; /* Disable click events when loading */
        opacity: 0.8;
    }
</style>
{% endblock content %}
